
<app-breadcrumb></app-breadcrumb>
<div class="row">

    <div class="col-12">
        <app-title-h1 [text]="title"></app-title-h1>
    </div>


    <div class="col-12">
      <app-hookonchange [pricePesos]="pricePesos"></app-hookonchange>
      <button class="btn btn-primary" (click)="addAmount()">add 10 $</button>
    </div>

    <app-solid-button 
    [title]="'Solid Button'" 
    [type]="$btnTypes.SUCCESS"
    [url]="'/user/user-list'"
    > </app-solid-button>

    <app-solid-button 
    [title]="'btn Action'" 
    [type]="$btnTypes.SUCCESS"
    (action)="onAction($event)"> </app-solid-button>

    <app-solid-button 
    [title]="'btn Action'" 
    [type]="$btnTypes.PRIMARY"
    (action)="onContinue($event)"> </app-solid-button>

    <app-solid-button 
    [title]="'btn view'" 
    [type]="$btnTypes.PRIMARY"
    (action)="onView($event)"
    #mainBtn> </app-solid-button>

    <ng-container  *ngIf="users; else elseUsersLoad">
      <app-card-user [data]="user" *ngFor="let user of users;" class="col-12 col-md-6 col-xl-3"></app-card-user>
    </ng-container>

    <!-- Init loader de card user shared/components/loaders -->

    <ng-template #elseUsersLoad>
      <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]="5" [imageSize]="100" [barHeight]="7" *ngFor="let item of [0,1,2]"></app-card-loader>
    </ng-template>

    <!-- End loader de card user  -->






  </div>
