:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// for angular
// ::ng-deep{

// }

///#4285f4
/// dd4b39
.btn-googleplus {
  color: #ffffff;
  background-color: #4285f4; }
  .btn-googleplus:hover {
    color: #ffffff; }

